<header>
    <div class="row home-nav">
      <div class="col-5 home-btn">
        <a routerLink="/admin" routerLinkActive="active"><button class="btn btn-primary">Home</button></a>
      </div>
      <div class="col-sm logo">
        <h1>TrackIT</h1>
      </div>
      <div class="logout-btn" class="col-1">
        <button class="btn btn-warning" (click)="logOut()">Log Out</button>
      </div>
    </div>
    <div class="nav-container">
      <nav class="row">
        <ul class="nav-ul">
          <li class="nav-btn"><a routerLink="/users" routerLinkActive><button class="btn-primary">Users</button></a></li>
          <li class="nav-btn"><a routerLink="/companies" routerLinkActive><button class="btn-primary">Companies</button></a></li>
          <li class="nav-btn"><a routerLink="/resources" routerLinkActive><button class="btn-primary">Resources</button></a></li>
          <li class="nav-btn"><a routerLink="/resourcetype" routerLinkActive><button class="btn-primary">Resourc Types</button></a></li>
          <li class="nav-btn"><a routerLink="/vehicles" routerLinkActive><button class="btn-primary">Vehicles</button></a></li>
          <li class="nav-btn"><a routerLink="/tickets" routerLinkActive><button class="btn-primary">Tickets</button></a></li>
          <li class="nav-btn"><a routerLink="/requests" routerLinkActive><button class="btn-primary">Requests</button></a></li>
          <li class="nav-btn"><a routerLink="/reports" routerLinkActive><button class="btn-primary">Reports</button></a></li>
        </ul>
      </nav>
    </div>
  </header>
      
      <div>
          <h1>Create A New Use Ticket</h1>
            <button class="btn btn-lg btn-outline-primary" (click)="create()">Create</button>
        </div>
        
        <div class="objects-container">
          <h1>Update Current Tickets</h1>
        <div *ngFor="let ticket of tickets">
            <div>
                <label class="object-labels"><strong>Ticket Number:</strong> {{ ticket.id }} </label>
                <label class="object-labels"><strong>ConnectWise Ticket:</strong> {{ ticket.tisNumber}} </label>
                <label class="object-labels"><strong>Date:</strong> {{ ticket.date }} </label>
                <label class="object-labels"><strong>Notes:</strong> {{ ticket.notes }} </label>
                <label class="object-labels"><strong>Company:</strong> {{ ticket.company }} </label>
                <label class="object-labels"><strong>User</strong> {{ ticket.user }} </label>
                <div>
                    <update-modal [updateObject]="ticket"></update-modal>
                </div>
            </div>
        </div>
        <br>

