<app-header></app-header>
      
      <div>
          <h1>Create A New Use Item</h1>
            <button class="btn btn-lg btn-outline-primary" (click)="create()">Create</button>
        </div>
        
        <div class="objects-container">
          <h1>Update Current Items</h1>
        <div *ngFor="let item of items">
            <div>
                <label class="object-labels"><strong>Name:</strong> {{ item.name}} </label>
                <label class="object-labels"><strong>Description:</strong> {{item.description}} </label>
                <label class="object-labels"><strong>Amount:</strong> {{ item.amount}} </label>
                <label class="object-labels"><strong>Cost:</strong> {{ item.cost}} </label>
                <label class="object-labels"><strong>Storage Location:</strong> {{ item.storageLocation}} </label>
                <label class="object-labels"><strong>Company:</strong> {{ item.company }} </label>
                <label class="object-labels"><strong>Resource Type:</strong> {{ item.resourceType}} </label>
                <label class="object-labels"><strong>Vechile?:</strong> {{ item.vehicle}} </label>
                <label class="object-labels"><strong>Ticket?:</strong> {{ item.useTicket }} </label>
                <div>
                    <update-modal [updateObject]="item"></update-modal>
                </div>
            </div>
        </div>
        <br>


