<app-header></app-header>

      <div>
          <h1>Create A New Resource Type</h1>
            <creation-modal [creationObject]="addType"></creation-modal>
        </div>
        
        <div class="objects-container">
          <h1>Update Current Resource Types</h1>
        <div *ngFor="let type of types">
            <div>
                <label class="object-labels"><strong>Id:</strong> {{ type.id }} </label>
                <label class="object-labels"><strong>Name:</strong> {{ type.name }} </label>
                <div>
                    <update-modal [updateObject]="type"></update-modal>
                </div>
            </div>
        </div>
        <br>
