#body-container {
    height: 100vh;
    display: grid;
}

#notifications-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 3em;
    border-bottom: 1px solid red;
}

.notifications {
    margin: 1em 2em;
}

.navigation-card {
    width: 10em;
    height: 10em;
    background-image: url();
}

#greeting {
    height: auto;
    width: 100%;
    margin-top: 1em;
}

#greeting-container {
    height: 10em;
    width: 60%;
    background-color: rgba(0, 34, 59, 0.685);
    position: relative;
    top: 10em;
    left: 20%;
}

#greeting button {
    margin-left: 2em;
    background-color: rgba(0, 34, 59, 0.685);
}
#greeting h1 {
    font-size: 6em;
    color: white;
}

#options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: 100%;
    margin: 1em 1em;
}

#left-opts-column {
    width: 100%;
    grid-column: 1/2;
    margin-left: 4em;
    display: flex;
    flex-direction: column;
}

#right-opts-column {
    width: 100%;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.option {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    width: 70%;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(255,193,7);
}

