<main>
  <!--
        Users: people icon
        Vehicles: car icon
        Resources: item icon
        Reports: document icon
    -->
  <div class="nav-icon">
    <a routerLink="/users" routerLinkActive="active"><h1>Users Placeholder</h1></a>
  </div>
  <div class="nav-icon">
    <a routerLink="/vehicles" routerLinkActive="active"><h1>Vehicles Placeholder</h1></a>
  </div>
  <div class="nav-icon">
    <a routerLink="/resources" routerLinkActive="active"><h1>Resources Placeholder</h1></a>
  </div>
  <div class="nav-icon">
    <a routerLink="/reports" routerLinkActive="active"><h1>Reports Placeholder</h1></a>
  </div>
</main>
<footer>
  <!--
        copyright? and solid color
    -->
</footer>
