<div *ngFor="let vehicle of vehicles">
        <div>
            {{ vehicle.id }}
            {{ vehicle.name }}
            {{ vehicle.model }}
            {{ vehicle.notes }}
            <div>
                <button (click)="update(vehicle.id, vehicle)">Update</button>
                <delete-modal [delObject]="vehicle"></delete-modal>
            </div>
        </div>
    </div>
    <br>
    <div>
        {{ oneVehicle.id }}
        {{ oneVehicle.notes}}
</div>
    
    <button (click)="delete(3)">Delete</button>
