

<div *ngFor="let company of companies">
      <div>
          {{ company.id }}
          {{ company.name }}
          {{ company.status }}
          <div>
              <button (click)="update(company.id, company)">Update</button>
              <update-modal [updateObject]="company"></update-modal>
              <delete-modal [delObject]="company"></delete-modal>
          </div>
      </div>
  </div>
  
  <div>
      {{ oneCompany.id }}
      {{ oneCompany.name }}
  </div>
  
  <button (click)="delete(2)">Delete</button>
  